<div class="post-comment-form">
	<% if user_signed_in? %>
		<div>
		    <%= form_with(model:[post,post_comment], url:post_post_comments_path(post)) do |f| %>
				<!-- current_userがその投稿に気になるをしていたら -->
				<% ids = post.likes.pluck('user_id') %>
				<% if ids.size > (ids - [current_user.id]).size %>
					<%= f.text_area :text, class: "comment-form form-control" %>
					<%= f.submit "コメントする", class: "post-comment-submit" %>
				<% else %>
					<i class="far fa-heart index-like" aria-hidden="true", id="nolike-btn"></i> を押すとコメント出来ます
				<% end %>
			<% end %>
		</div>
	<% else %>
		<div class="before-login-topic">ログインするとコメント出来ます</div>
			<button class="before-login"><%= link_to  "ログインする", new_user_session_path, class: 'before-login-btn' %></button>
	<% end %>
</div>
