<div class="container about-container">
	<div class="row home-about-row">
		<div class="header">
			<h1 class="about-top"><strong>Suppport servise for<br> those who worried</strong></h1>
		</div>
		<div class="features">
			<h2 class="about-features">How it works</h2>
			<div class="main-topic row">
				<div class="topic-1 col-md-4">
					<div class="topic-1-inner">
						<p><strong class="about-sentence">Step1.  </strong>悩み事を気軽に投稿しよう</p>
						<p><%= image_tag'Typing-bro.png', :size => '232x190' %></p>
					</div>
				</div>
				<div class="topic-2 col-md-4">
					<div class="topic-2-inner">
						<p><strong class="about-sentence">Step2.  </strong>相談者から意見をもらおう</p>
						<p><%= image_tag 'Group Chat-bro.png', :size => '232x190' %></p>
					</div>
				</div>
				<div class="topic-3 col-md-4">
					<div class="topic-3-inner">
						<p><strong class="about-sentence">Step3.  </strong>評価してみよう</p>
						<p><%= image_tag 'Upvote-rafiki.png', :size => '232x190' %></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
