<div class="header">
	<h1 class="about-top"><strong>Suppport servise for<br> those who worried</strong></h1>
</div>
<div class="features">
	<h2 class="about-features">How it works</h2>
	<ul class="main-topic">
		<li class="topic-1">
			<p>悩み事を気軽に投稿しよう</p>
			<p><%= image_tag'home-office-2452806_640.jpg', :size => '232x190' %></p>
		</li>
		<li class="topic-2">
			<p>相談者からの意見をもらおう</p>
			<p><%= image_tag 'ask-2341784_640.jpg', :size => '232x190' %></p>
		</li>
		<li class="topic-3">
			<p>意見をもらったら評価してみよう</p>
			<p><%= image_tag 'smileys-5617876_640.jpg', :size => '232x190' %></p>
		</li>
	</ul>
</div>

