<div class="container privacy-container">
    <div class="row privacy-frame">
        <h3>当サイトの個人情報保護について</h3>
        <p>個人情報保護方針</p>
        <div>
            <span>2020年12月15日</span><br>
            <span>本木 拓海</span><br>
                <span>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                </span><br>
                当サイト運営者（本木 拓海）は、個人情報の保護が社会的責務であると認識し、以下の通り個人情報保護方針を制定し、適切な保護を実施します。<br>
                <span>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                </span>
        </div><br>
        <div>
            <p>1.個人情報の取得について
            当サイトでは、メールでのお問い合わせ、会員登録などの際に、名前（ニックネーム）、メールアドレス等の個人情報をご登録いただく場合がございます。
            </p>
            <p>2.特定の個人情報の収集の禁止
            社会的差別を受けうる機微な個人情報については収集、利用及び提供致しません。ただし、これらの収集、利用及び提供について、明示的な個人情報の本人の同意、法令に特別の規定がある場合及び司法手続き上必要不可欠である場合はこの限りではありません。
            </p>
            <p>3.個人情報の利用について
            個人情報は、法律に基づく命令等を除いて、利用目的の範囲内でのみ利用いたします。この範囲を超えて個人情報を利用する必要が生じた場合には、本人から利用目的などについて同意を得るものとします。当サイトの個人情報利用の目的は、お問合せへの返信等を行うために利用いたします。適切な個人情報管理を行うよう義務付けております。
            </p>
            <p>4.個人情報の提供及び預託について
            当サイトでは、個人情報は適切に管理し、以下に該当する場合を除いて第三者に開示することはありません。<br>
            ・本人のご了解がある場合<br>
            ・法令等への協力のため、開示が必要となる場合
            </p>
            <p>5.安全対策の実施について
            当サイトは、個人情報の正確性及び安全性を確保するために、個人情報への不正アクセス、または個人情報の紛失、破壊、改ざん、漏洩の防止並びに是正に関する適切な管理に努めます。
            </p>
            <p>6.法令、規範の遵守について
            当サイトは、確実な個人情報保護実現のため、適用される法令及びガイドライン、および国が定める指針その他の規範を遵守いたします。
            </p>
            <p>7.個人情報の開示、訂正、追加、削除、利用停止について
            ご本人からの個人データの開示、訂正、追加、削除、利用停止のご希望の場合には、ご本人であることを確認させていただいた上、速やかに対応させていただきます。
            </p>
            <p>8.個人情報に関する苦情および情報開示の相談について
            以下の窓口を設置し迅速かつ誠実に、適切な対応をさせていただきます。
            </p>
        </div>
        <div>
            <span>問い合わせ先</span><br>
            <span>本木 拓海</span><br>
            <span>E-mail：mtktkm242424@gmail.com</span>
        </div>
    </div>
</div>