<div class="row">
	<h1><strong>Ask for advice.</strong></h1>
	<p class="top-topic">ウォーリーは20代のキャリアの悩みを解決するサイトです</p>
	<ul class="top-btn">
		<li class="top-guestlogin"><%= link_to "ゲストログイン（閲覧用）", home_guest_sign_in_path, method: :post, class: 'btn btn-success' %></li>
		<li class="top-about"><%= link_to "about ウォーリー", homes_about_path, class: "btn btn-warning" %></li>
	</ul>
</div>
