
<div class="row">
	<% @posts.each do |post| %>
			<div class="col-md-4">
				<ul class="post_index">
					<%= link_to post.text, post_path(post) %>
					<li id="likes_buttons_<%= post.id %>">
						<%= render 'likes/like', post: post %>
					</li>
					<% if current_user.posts == post %>
						<li class="post_destroy">
							<p><%= link_to '削除する', post_path(post), method: :delete %></p>
						</li>
					<% end %>
				</ul>
			</div>
			
	<% end %>
 </div>

