
	<%= @post.text %>




<div>
	<%= form_with(model:[@post,@post_comment], url:post_post_comments_path(@post.id), local: true) do |f| %>
	
		<%= f.text_area :text %>
		<%= f.submit "コメントする" %>
	<% end %>
</div>