/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 * {
	font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
 }

.wrap {
	min-height: 100vh;
	position: relative;
	padding-bottom: 100px;
    box-sizing: border-box;
}

.outof-header {
	height: 50px;
	background-color:  #2E1031;
}

header {
	height: 50px;
}

.header-container {
	padding-left: 0;
}

.header-list {
	list-style: none;
	display: flex;
	a {
		color: white;
	text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
	}
}

.header-left {
	list-style: none;
	li {
		line-height: 50px;
	}
}

.header-element:not(:last-child) {
	margin-right: 30px;
}

.gretel {
	margin-top: 20px;
	margin-bottom: 30px;
}

.comment-form {
	margin-bottom: 20px;
}

body {
	background-color: #f4f8fa;
}

.login, .signup, .forgot-password {
	border-radius: 16px;
	padding: 20px;
	width: 50%;
	margin: 0 auto;
}

.signup-letter {
	text-align: center;
}

.login-letter {
	text-align: center;
}

.header-mypage {
	position: relative;
}

.header-dropdown {
	display: none;
	position: absolute;
	top: 40px;
	right: 320px;
	background-color: white;
	padding: 12px 16px;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: 0 0 8px 0 rgba(0,0,0,.15);
}

.password-conf-field {
	margin-top: 10px;
}

.password-field {
	margin-top: 10px;
}

.devise-intro-field {
	margin-top: 10px;
}

.devise-name-field {
	margin-top: 10px;
}

.actions {
	line-height: 36px;
	width: 100%;
	height: 36px;
	text-align: center;
	margin-top: 10px;
}

input[value="登録"] {
	line-height: 18px; 
	width: 200px;
	height: 30px;
}​

.devise-new-submit {
	color: black;
	display: inline-block;
	text-align: left;
	width: 340px;
	height: 24px;
	text-align: center;
	border-color: #ffcc00;
	box-shadow: none;
	background-color: #ffcc00;
}

.devise-login-link {
	height: 30px;
	width: 100%;
	text-align: center;
	a {
		display: inline-block;
  		text-align: left;
	}
}

.devise-new-link {
	height: 30px;
	width: 100%;
	text-align: center;
	a {
		display: inline-block;
  		text-align: left;
	}
}


.login-link-inner {
	height: 30px;
	width: 200px;
	margin: auto;
	margin-top: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: white;
	a {
		color: black;
		line-height: 30px;
		text-decoration: none;
	}
}

.login-link-inner:hover {
	background-color: #F2F2F2;
}

.new-link-inner {
	height: 30px;
	width: 200px;
	margin: auto;
	margin-top: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: white;
	a {
		color: black;
		line-height: 30px;
		text-decoration: none;
	}
}

.new-link-inner:hover {
	background-color: #F2F2F2;
}

.devise-checkbox-field {
	margin-top: 10px;
}

.devise-session-submit {
	margin-top: 10px;
	width: 200px;
	height: 30px;
}

.devise-new-link {
	margin-top: 10px;
}

.devise-mail-submit {
	margin-top: 10px;
}

.devise-reset-email {
	width: 300px;
}

.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
    background-color: #666666;
}

.index-detail-foot {
  margin: 0;
}

.pagination>li>a {          
	border: none;    
	color: #696969;   
  }
  
  .pagination>.active>a {     
	background: #2E1031;    
	border-radius: 15px;   
  }
  
  .pagination>li>a:hover {        
	border-radius: 15px;    
  }

footer {
	  height: 100px;
		ul {
			margin-left: 0;
			padding-left: 0;
			padding-right: 0;
			height: 100px;
			list-style: none;
			text-align: center;
			line-height: 100px;
			li {
				height: 100px;
				padding-right: 0;
				display: inline-block;

			}
			a {
				color: #fff;
			}
			a:hover {
				color: #fff;
			}
		}
}

footer .footer-list-1 {
	padding-right: 0;
}

.footer-list-2 {
	margin-right: 20px;
}

.outof-footer {
	height: 100px;
	width: 100%;
	background-color: #2E1031;
	margin-top: 50px;
	position: absolute;
    bottom: 0;
}

.footer-inner {
	height: 100px;
	padding-left: 0;
}

.footer-list {
	padding-right: 60px;
}

.copy-right {
	color: #fff;
}

.privacy-frame {
	margin-top: 50px;
}

.original-image {
	width: 120px;
	height: 40px;
}

.top-imagephoto {
	height: 40px;
	display: inline-block;
	line-height: 50px;
}

@media (max-width: 1440px) {
	.top-slogan {
		font-size: 30px;
	}
}

@media (max-width: 1199px) {
	.rank-left {
		margin-right: 0;
		padding-left: 0;
	}
}


@media (max-width: 991px) {
	.top-left {
		margin-top: 50px;
		text-align: center;
	}
	.login-image {
		width: 400px;
		height: 400px;
		padding: 0;
	}
	.top-right {
		text-align: center;
	}
	.topper {
		height: 760px;
	}
	.user-info {
		padding: 0;
		margin-top: 15px;
	}
	.user-show-right {
		margin-right: 15px;
		margin-bottom: 30px;
	}
	.user-show-middle {
		padding-left: 0;
	}
	.show-right-top {
		margin-left: 0;
	}
	.show-right-bottom {
		margin-left: 0;
	}
	.show-details {
		margin-left: 0;
		margin-top: 30px;
		padding-left: 0;
	}
	.index-details-inner {
		padding-left: 0;
	}
	.comment-rank-inner {
		padding-left: 0;
	}
}

@media (max-width: 767px) {
	.top-slogan {
		padding-left: 0;
	}
	.top-subject {
		padding-left: 0;
	}
	.top-right {
		padding: 0;
	}
	.top-btn {
		padding-left: 0;
	}
	.btn-success {
		font-size: 10px;
	}
	.btn-warning {
		font-size: 8px;
	}
	.footer-list {
		height: 50px;
		padding-right: 0;
		display: inline;
		a {
			height: 50px;
		}
	}
	.copy-right {
		display: inline;
	}
	.footer-line {
		padding-left: 0;
	}
	.outof-footer {
		height: 200px;
	}
	.post-middle-inner {
		height: 120px;
		font-size: 12.5px;
	}
	.emoji-inner {
		margin: 0;
		line-height: 100px;
	}
	.post-middle-inner {
		height: 140px;
	}
	.tab {
		margin: 0 15px;
	}
	.comment-rank {
		margin: 15px;
	}
	.index-details {
		margin: 0 15px;
	}
	.new-post-title {
		width: 100%;
	}
	.post-row {
		padding-left: 15px;
	}
	.user-show-right {
		margin-left: 15px;
	}
	.user-show-middle {
		margin-left: 15px;
	}
	.show-details {
		margin-left: 15px;
	}
	.content {
		margin: 0 15px;
	}
}

@media (max-width: 635px) {
	.post-middle-inner {
		height: 160px;
	}
}

@media (max-width: 418px) {
	.menu {
		margin: 0 auto;
		padding: 0;
		width: 90%;
		overflow-x: auto;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;
	}
	.menu li {
		display: inline-block;
		list-style: none;
		height: 38px;
	}
}

@media (max-width: 374px) {
	.top-slogan {
		font-size: 30px;
	}
	.login-image {
		width: 300px;
		height: 300px;
		padding: 0;
	}
	.post-middle-inner {
		height: 170px;
	}
	// .post-middle-left {
	// 	width: 50px;
	// }
	.post-status {
		width: 55px;
		margin: 0 auto;
	}
	.post-index {
		padding: 0;
	}
}

.wrap {
	overflow: hidden;
}

.top-subject {
	font-size: 19px;
}