// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.image {
  width: 40px;
  height: 40px;
}


.post-index {


	padding: 10px;
  border-bottom: 1px solid #e8e8e8;

}


.post-index {


	a {
	    text-decoration: none;
	}
}

.index-title {
  font-size: 20px;
}

h2 {
	margin-left: 20px;
}

.image {
	border-radius: 50%;
}

.col {
	margin-bottom: 10px;
}

.btn btn-success {

	a {
		text-decoration: none;
	}

}

.post-image {
	margin-right: 10px;
}

.show {
  background-color: white;
  padding: 20px;
  width: 800px;
  margin-bottom: 50px;
}



.comment-bottom {
	background-color: white;
  padding: 20px;
  width: 800px;
}

.post-ul {
  list-style: none;
  .post-image {
    display: inline-block;
  }

.btn-success {
  list-style: none;
}


  .post-like {
    display: inline-block;
    margin-right: 40px;
    margin-left: 21px;
  }

  .post-tag {
    display: inline-block;

    a {
      color: ivory;
    }

  }

  .post-destroy {
    display: inline-block;
    p {
    padding-right: 30px;
    }
  }
}

.post-edit {
  display: inline-block;
  p {
  padding-right: 10px;
  }
}


.user-show-edit {
    a {
    color: ivory;
    text-decoration: none;
  }
}

.comment-form {
  form {
    width: 400px;
    margin-left: 300px;
    margin-top: 100px;
  }
}

.comment-whole {
  margin-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
  padding: 10px;
}

.tab_wrap {
  width: 800px;
  margin: 10px auto;
}

input[type="radio"] {
  display:none;
}

.tab_area {
  font-size:0; margin:0 30px;
}

.tab_area label {
  width:150px;
  margin:0 5px;
  display:inline-block;
  padding:12px 0;
  color:#999;
  background:#ddd;
  text-align:center;
  font-size:13px;
  cursor:pointer;
  transition:ease 0.2s opacity;
}

.tab_area label:hover {
  opacity:0.5;
}

.panel_area {
  background:#fff;
}

.tab_panel {
  width: 100%;
  padding: 1px 0;
  display: none;
}

.tab_panel p {
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
}

$i:1;
$length:3;
@while $i <= $length {
  #tab#{$i}:checked {
    ~ .tabarea1 .tab#{$i}_label {
      background: #fff;
      color:#000;
    }
    ~ .panel_area #panel#{$i} {
    display: block;
    }
  }
  $i:$i + 1;
}

.show-span-tag {
  a {
  color: ivory;
  text-decoration: none;
  }
}

.text-model {

  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  height: 600px;
  width: 600px;

}

.text-model-1 {
  opacity: 0.5;

}

.text-form {
  height: 600px;
  width: 570px;
}

.new-post-title {
  width: 1155px;
}

.new-post-tag {
  width: 1155px;
}

.confirm-title {
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  width: 600px;
}

.confirm-text {
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  width: 600px;
}

.confirm-tag {
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  width: 600px;
}

.confirm-button {
  margin-top: 20px;
}

.button-fix {
  margin-right: 5px;
}

.rank-posts {
  padding: 20px;
  border-bottom: 1px solid #e8e8e8;
}

.rank-content {
  a {
  text-decoration: none;
  }
  

}

.post-edit-title {
  width: 1155px;
}

.post-edit-tag {
  width: 1155px;
}

.post-edit-text {
  height: 600px;
  width: 570px;
}

.index-details {
  background-color: white;
  margin-top: 52px;
}

.index-detail {
  font-size: 20px;
}

.index-detail-letter {
  font-size: 12px;
}

.detail-head-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.index-detail-head {
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 0;
  height: 80px;
}

.index-detail-left {
  border-right: 1px solid #e8e8e8;
  padding-top: 10px;
  text-align: center;
}

.index-detail-middle {
  border-right: 1px solid #e8e8e8;
  padding-top: 10px;
  text-align: center;
}

.index-detail-right {
  padding-top: 10px;
  text-align: center;
}

.thank-image {
  color: red;
}

.comment-rank {
  background-color: white;
  margin-top: 52px;
}

.comment-rank-count {
  font-weight: bold;
  text-align: center;
}

.thank-name {
  font-weight: normal;
}

.rank-comments {
  padding: 20px;
  border-bottom: 1px solid #e8e8e8;
}