// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.post-image {
  border-radius: 10%;
  width: 40px;
  height: 40px;
}

.post-index {
	a {
	    text-decoration: none;
	}
}

.index-title {
  font-size: 15px;
}

.image {
	border-radius: 50%;
}

.col {
	margin-bottom: 10px;
}

.btn btn-success {
	a {
		text-decoration: none;
	}

}

.tag-btn {
  font-size: 13px;
}

.post-button {
  border: 1px solid #b8dbf2;
  background: #d5e9f7 none;
  border-radius: 3px;
  margin-bottom: 5px;
}

.show-emoji {
  font-size: 75px;
  text-align: center;
}

.show {
  background-color: white;
  padding: 20px;
  width: 700px;
  margin: 0 auto;
}

.comment-bottom {
	background-color: white;
  padding: 20px;
  width: 700px;
  border-top: 1px solid #ddd;
  margin: 0 auto;
}

.post-ul {
  list-style: none;
  display: inline;
  .post-image {
    display: inline-block;
  }

.btn-success {
  list-style: none;
}


  .post-like {
    display: inline;
    margin-right: 40px;
    position: absolute;
    bottom: 0;
  }

  .post-tag {
    display: inline-block;
  }

  .post-destroy {
    display: inline-block;
    p {
    padding-right: 30px;
    }
  }
}

.post-edit {
  margin: 0 auto;
  p {

  }
}

.post-created {
  margin-bottom: 5px;
}


.user-show-edit {
    a {
    color: #333333;
    text-decoration: none;
  }
}

.comment-form {
  form {
    margin-top: 100px;
  }
}

.post-comment-form {
  width: 700px;
  margin: 0 auto;
}

.comment-whole {
  margin-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
  padding: 10px;
}

.show-span-tag {
  border: 1px solid #b8dbf2;
  background: #d5e9f7 none;
  border-radius: 3px;
  a {
  text-decoration: none;
  }
}

.text-model {

  background-color: white;
  padding: 3px;
  border: 1px solid #ccc;
  height: 600px;

}

.text-model-1 {
  opacity: 0.5;

}

.text-form {
  height: 600px;
  width: 495px;
  padding-left: 10px;
}

.emoji-form {
  width: 45%;

}

.emoji-field {
  height: 46px;
}

.post-row {
  padding-right: 15px;
}

.emoji-model {
  border: 1px solid #ccc;
  height: 46px;
  padding: 3px;
  background-color: white;
}

.emoji-model-1 {
  opacity: 0.5;
  width: 50%;
}

.emoji {
  font-size: 30px;
  background-color: #F1F5F9;
  border: 1px solid #b8dbf2;
  border-radius: 3px;
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
}

// .emoji:before{
//   display: block;
//   content: '';
//   padding-top: 100%;
// }

.emoji-inner {
  display: flex;
  justify-content: center;
  align-items: center 
}

.new-post-title {
  // width: 100%;
}

.new-post-tag {
  width: 100%;
  padding-left: 10px;
}

.new-post-submit {
  background: #EE7711 none;
  border: 1px solid #b8dbf2;
  color: #fff;
  border-radius: 3px;
  height: 40px;
}

.edit-post-submit {
  background: #EE7711 none;
  border: 1px solid #b8dbf2;
  color: white;
  border-radius: 3px;
  height: 40px;
  width: 80px;
}

.post-comment-submit {
  background: #EE7711 none;
  border: 1px solid #b8dbf2;
  color: white;
  border-radius: 3px;
  height: 40px;
  width: 100px;
}

.confirm-title {
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  width: 600px;
}

.confirm-text {
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  width: 600px;
}

.confirm-tag {
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  width: 600px;
}

.confirm-button {
  margin-top: 20px;
}

.button-fix {
  margin-right: 5px;
}

.rank-posts {
  padding: 20px 0 20px 20px;
  border-bottom: 1px solid #e8e8e8;
}

.rank-content {
  a {
  text-decoration: none;
  }
}

.rank-contents {
  padding-top: 10px;
}

.post-edit-emoji {
  width: 100%;
  padding-left: 10px;
}

.post-edit-emoji-outer {
  width: 100%;
}

.post-edit-title {
  width: 100%;
  padding-left: 10px;
}

.post-edit-tag {
  width: 100%;
  padding-left: 10px;
}

.post-edit-text {
  height: 600px;
  padding-left: 10px;
}

.index-details {
  margin-bottom: 15px;
}

.index-details-inner {
  padding-left: 15px;
}



.index-detail {
  font-size: 20px;
}

.index-detail-letter {
  font-size: 12px;
}

.detail-head-image {
  width: 60px;
  height: 60px;
  border-radius: 10%;
}

.index-detail-head {
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 0;
  height: 80px;
}

.index-detail-left {
  border-right: 1px solid #e8e8e8;
  padding-top: 10px;
  text-align: center;
}

.index-detail-middle {
  border-right: 1px solid #e8e8e8;
  padding-top: 10px;
  text-align: center;
}

.index-detail-right {
  padding-top: 10px;
  text-align: center;
}

.thank-image {
  color: red;
}

.comment-rank-inner {
  padding-left: 15px;
}

.rank-inner-more {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
}

.comment-rank-count {
  font-weight: bold;
  text-align: center;
}

.thank-name {
  font-weight: normal;
}

.rank-left {
  border-bottom: 1px solid #e8e8e8;
  margin: 10px;
  padding-left: 20px;
  padding-bottom: 10px;

}

.ranking {
  margin-right: 5px;
}

.comment-letter {
  margin-bottom: 30px;
  padding-left: 7px;
}

.is-gold {
  color: #ffc400;
}

.is-silver {
  color: #c9c9c9;
}

.is-blonze {
  color: #ac6d4d;
}

.other {
  margin-left: 5px;
  margin-right: 10px;
}

.new_relationship {
  display: inline-block;
}

.index-follow {
  padding-top: 10px;
}

.posts-show-text {
  padding-top: 10px;
}

.thank-area {
  margin-top: 10px;
}

.post-status {
  background-color: #f2f2f2;
  width: 70px;
  margin: 0 auto;
  text-align: center;
}

.doing {
  color: #333;
}

.post-comments-count {
  width: 70px;
  margin: 0 auto;
  text-align: center;
}

.post-middle {
  padding: 0 15px;
  position: relative;

}

.post-middle-inner {
  height: 120px;
  padding: 15px 0;
}

.inner-more {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.post-response {
  margin-top: 10px;
}

.done {
  background-color: #EE7711;
  color: #fff;
}

.confirmed-post {
  background: #EE7711 none;
  color: #fff;
}

.modifying-post {
  color: #333333;
  background-color: white;
  margin-right: 5px;
}

.detail-head-topic{
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

.text-model-edit {
  background-color: white;
  padding: 3px;
  border: 1px solid #ccc;
  height: 600px;
}

.text-model-edit-1 {
  background-color: white;
  border: 1px solid #ccc;
  height: 600px;
}

.stock-index {
  width: 600px;
}

.stock-icon {
  width: 100px;
  margin-top: 50px;
}

.post-articles {
  border-bottom: 1px solid #e8e8e8;
  padding: 20px 0;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  border-bottom: 1px solid #e8e8e8;
}

.menu li a {
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: 8px 0;
  color: #333;
  text-decoration: none;
}

.menu li a.active {
  color: #55C500;
  border-bottom: 2px solid #55C500;
}

.menu li a:not(.active):hover {
  opacity: 0.5;
  transition: opacity 0.4s;
}

.content.active {
  color: #333;
  display: block;

}

.content {
  display: none;
  margin-right: 15px;
}

.search-result {
  margin-top: 20px;
}

.search-window {
  width: 210px;
  margin-top: 50px;
  margin-bottom: 15px;
}
.fa-search {
  margin-top: 15px;
}

.search-input {
   border-radius: 5px;
   height: 30px;
}

.profile-name {
  margin-left: 10px;
}

.population-tag {
  margin: 20px 10px;
}

.tab {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 20px;
}

.tab-bar {
  color: #787C7B;
}

.tab-bar-tag {
  font-size: 15px;
}

.attention-count {
  margin-top: 9px;
}

.attention-title {
  margin-left: 5px;
}

.show-notice {
  margin-left: 4px;
}

.ranking-title {
  margin-left: 5px
}

.show-title {
  margin-left: 5px;
}

.rank-in {
  font-size: large;
  margin-right: 22px;
}

.login-header {
  height: 600px;
  width: 100%;
  div {
    padding-left: 0;
  }
}

.topper {
  width: 100%;
  height: 900px;
  background-color: #EBF5FF;
}

.login-image {
  width: 600px;
  height: 600px;
  padding-bottom: 100px;
}

.new-post {
  margin-top: 30px;
  margin-bottom: 50px;
}

.notification {
  padding-top: 100px;
}

.form-group {
  margin-top: 15px;
}

.confirm-title, .confirm-tag, .confirm-text {
  margin: 0 auto;
}

.confirm-button {
  text-align: center;
}

.user-info {
  margin: 0;
  padding-right: 0;
}

.app-link-row img {
  padding-left: 0;
  width: 200px;
  height: 66px;
  margin-top: 50px;
}

.app-link-row div {
  font-size: 20px;
  padding-left: 0;
  margin-bottom: 100px;
}

.row .top-right {
  padding-right: 0;
}

.post-edit-container {
  margin-bottom: 50px;
}

.post-message {
  margin-top: 15px;
  ul {
    padding-left: 0;
    margin: 0 auto;
  }
}

.post-show-container {
  margin-bottom: 30px;
}

.posts-show-text {
  line-height: 2;
}

.post-post-image {
  height: 50px;
}

.index-like, .likes-count {
  color: #93A5B1;
}

.post-article {
  margin-bottom: 9px;
}