// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.image {
  width: 40px;
  height: 40px;
}


.post-index {


	padding: 10px;

}


.post-index {


	a {
	    text-decoration: none;
	}
}

.index-title {
  font-size: 15px;
}

.image {
	border-radius: 50%;
}

.col {
	margin-bottom: 10px;
}

.btn btn-success {

	a {
		text-decoration: none;
	}

}

.tag-btn {
  font-size: 13px;
}

.post-button {
  border: 1px solid #b8dbf2;
  background: #d5e9f7 none;
  border-radius: 3px;
}

.post-image {
	margin-right: 10px;
}

.show-emoji {
  font-size: 75px;
  text-align: center;
}

.show {
  background-color: white;
  padding: 20px;
  width: 700px;
  margin: 0 auto;
}



.comment-bottom {
	background-color: white;
  padding: 20px;
  width: 700px;
  border-top: 1px solid #ddd;
  margin: 0 auto;
}

.post-ul {
  list-style: none;
  .post-image {
    display: inline-block;
  }

.btn-success {
  list-style: none;
}


  .post-like {
    display: inline-block;
    margin-right: 40px;
    margin-left: 21px;
  }

  .post-tag {
    display: inline-block;

  }

  .post-destroy {
    display: inline-block;
    p {
    padding-right: 30px;
    }
  }
}

.post-edit {
  display: inline-block;
  p {
  padding-right: 10px;
  }
  margin-right: 15px;
}

.post-created {
  margin-bottom: 5px;
}


.user-show-edit {
    a {
    color: #333333;
    text-decoration: none;
  }
}

.comment-form {
  form {
    margin-top: 100px;
  }
}

.post-comment-form {
  width: 700px;
  margin: 0 auto;
}

.comment-whole {
  margin-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
  padding: 10px;
}

.show-span-tag {
  border: 1px solid #b8dbf2;
  background: #d5e9f7 none;
  border-radius: 3px;
  a {
  text-decoration: none;
  }
}

.new-text-field {
  width: 100%;
  margin: 0;
}

.text-main {
  padding-right: 0;
}

.text-model {

  background-color: white;
  padding: 3px;
  border: 1px solid #ccc;
  height: 600px;

}

.text-model-1 {
  opacity: 0.5;

}

.text-form {
  height: 600px;
  width: 495px;
  padding-left: 10px;
}

.emoji-field {
  width: 100%;
  margin: 0;
}
.emoji-form {
  width: 495px;
  padding-left: 10px;
}

.emoji-model {
  border: 1px solid #ccc;
  height: 46px;
  padding: 3px;
}

.emoji-model-1 {
  opacity: 0.5;
  width: 400px;
}

.emoji {
  font-size: 30px;
  background-color: #F1F5F9;
  border: 1px solid #b8dbf2;
  border-radius: 3px;
  width: 100%;
  height: 100px;
}

.emoji-inner {
  margin: 20px 20px;
  text-align: center;
  line-height: 50px;
}

.new-post-title {
  width: 1005px;
  padding-left: 10px;
}

.new-post-tag {
  width: 1005px;
  padding-left: 10px;
}

.new-post-submit {
  background: #5CB85C none;
  border: 1px solid #b8dbf2;
  color: white;
  border-radius: 3px;
  height: 40px;
}

.edit-post-submit {
  background: #5CB85C none;
  border: 1px solid #b8dbf2;
  color: white;
  border-radius: 3px;
  height: 40px;
  width: 80px;
}

.post-comment-submit {
  background: #5CB85C none;
  border: 1px solid #b8dbf2;
  color: white;
  border-radius: 3px;
  height: 40px;
  width: 100px;
}

.confirm-title {
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  width: 600px;
}

.confirm-text {
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  width: 600px;
}

.confirm-tag {
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  width: 600px;
}

.confirm-button {
  margin-top: 20px;
}

.button-fix {
  margin-right: 5px;
}

.rank-posts {
  padding: 20px 0 20px 20px;
  border-bottom: 1px solid #e8e8e8;
}

.rank-content {
  a {
  text-decoration: none;
  }

}

.post-edit-emoji {
  width: 1005px;
  padding-left: 10px;
}

.post-edit-title {
  width: 1005px;
  padding-left: 10px;
}

.post-edit-tag {
  width: 1005px;
  padding-left: 10px;
}

.post-edit-text {
  height: 600px;
  width: 495px;
  padding-left: 10px;
}

.index-details {
  background-color: white;
  margin-top: 10px;
}

.index-details-inner {
  padding: 0 10px;
}



.index-detail {
  font-size: 20px;
}

.index-detail-letter {
  font-size: 12px;
}

.detail-head-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.index-detail-head {
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 0;
  height: 80px;
}

.index-detail-left {
  border-right: 1px solid #e8e8e8;
  padding-top: 10px;
  text-align: center;
}

.index-detail-middle {
  border-right: 1px solid #e8e8e8;
  padding-top: 10px;
  text-align: center;
}

.index-detail-right {
  padding-top: 10px;
  text-align: center;
}

.thank-image {
  color: red;
}

.comment-rank {
  background-color: white;
  margin-top: 30px;
  margin-left: 10px;
}

.comment-rank-count {
  font-weight: bold;
  text-align: center;
}

.thank-name {
  font-weight: normal;
}

.rank-left {
  border-bottom: 1px solid #e8e8e8;
  margin: 10px;
  padding-left: 20px;
  padding-bottom: 10px;

}

.ranking {
  margin-right: 5px;
}

.comment-letter {
  margin-bottom: 30px;
  padding-left: 7px;
}

.is-gold {
  color: #ffc400;
}

.is-silver {
  color: #c9c9c9;
}

.is-blonze {
  color: #ac6d4d;
}

.other {
  margin-left: 5px;
  margin-right: 10px;
}

.new_relationship {
  display: inline-block;
}

.index-follow {
  padding-top: 10px;
}

.posts-show-text {
  padding-top: 10px;
}

.thank-area {
  margin-top: 10px;
}

.post-button {
  margin-top: 5px;
}

.post-status {
  background-color: #f2f2f2;
  width: 70px;
  margin: 0 auto;
  text-align: center;
}

.doing {
  color: #333;
}

.post-comments-count {
  width: 70px;
  margin: 0 auto;
  text-align: center;
}

.post-middle {
  padding: 0 15px;
}

.post-middle-inner {
  height: 120px;
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 0;
}

.post-middle-left {
  padding-top: 15px;
}

.inner-more {
  border: 1px solid #ddd;
  border-radius: 10px;
}

.post-response {
  margin-top: 10px;
}

.done {
  background-color: #e9606d;
  color: #fff;
}

.detail-head-topic{
  width: 150px;
  margin: 0 auto;
}

.text-model-edit {
  background-color: white;
  padding-top: 3px;
  border: 1px solid #ccc;
  height: 600px;
  width: 300px;
}

.edit-text-field {
  width: 1020px;
  margin: 0;
}

.stock-index {
  width: 600px;
}

.stock-icon {
  width: 100px;
  margin-top: 50px;
}

.post-articles {
  border-bottom: 1px solid #e8e8e8;
  padding: 20px 0;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  border-bottom: 1px solid #e8e8e8;
}

.menu li a {
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: 8px 0;
  color: #333;
  text-decoration: none;
}

.menu li a.active {
  color: #55C500;
  border-bottom: 2px solid #55C500;
}

.menu li a:not(.active):hover {
  opacity: 0.5;
  transition: opacity 0.4s;
}

.content.active {
  color: #333;
  display: block;

}

.content {
  display: none;

}

.search-result {
  margin-top: 20px;
}

.search-window {
  margin-bottom: 15px;
  margin-left: 13px;
}

.search-input {
   border-radius: 5px;
   height: 30px;
}

.profile-name {
  margin-left: 10px;
}

.population-tag {
  margin: 20px 10px;
}

.tab-bar {
  color: #787C7B;
}

.tab-bar-tag {
  font-size: 15px;
}

.attention-count {
  margin-top: 5px;
}

.show-notice {
  margin-left: 4px;
}