// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image {
	border-radius: 50%;
}

.user-show {
	text-align: center;
	background-color: white;
	border-radius: 16px;
	padding: 20px;
	width: 500px;
	margin-left: 330px;
}

.show-name-topic {
	border-bottom: 1px solid #eee;
}

.show-introduction-topic {
	border-bottom: 1px solid #eee;
}

.show-email-topic {
	border-bottom: 1px solid #eee;
}