<div class="outof-footer">
    <div class="container footer-inner">
        <footer>
            <ul class="footer-line">
                <li class="copy-right pull-left">©notworry</li>
                <%= link_to  "プライバシーポリシー", homes_privacy_path, class: "footer-list-1 pull-right" %>
                <%= link_to  "notworryの使い方", homes_about_path, class: "footer-list-2 pull-right" %>
            </ul>
        </footer>
    </div>
</div>